<div style="font-size: 20px; background-color: #1B9C00">
  <p>Your answer is:  <%= @input %> </p>
  <hr>
  <p><%= @result[:message] %> your score is: <%= @result[:score] %></p>
  <p>Your time is: <%= @result[:time] %></p>
</div>
